.datos{
    background-color: aqua;
    border: 23px solid aqua;
}

.navega{
    background-color: aqua;
    border: 3px solid aqua;
}

#unico{
    background-color: aqua;
    border: 3px solid aqua;
}

#main{
    background-color: blue;
    border: 16px solid blue;
}

#be{
    background-color: aqua;
}